html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* css reset */
* {
box-sizing: border-box;
text-decoration:none;
color: #000;
}
body {
	margin: 0;
	font-size: 20px;
	font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
	/* font-style: italic; */
	font-weight: bold;
}
h1,h2,h3,h4,h5 {
	font-size: 48px;
}
p {
	font-size: 20px;
}

.list li:nth-child(1) a{
	color: #FF6347;
} 
/* header */
.header {
margin: 0 auto;
width: 1200px;
height: 700px;		
}
.banner {
background-image:url(../img/banner02.jpg);
background-size: cover;
background-position: center center;
text-align: center;
width: 100%;
height: 100%;	
}

/* 側邊廣告 */
.rightbanner {
    position: fixed;
    right: 0px;
    top: 50px;  
}
.rightbanner {
    width: 150px;
}
.rightbanner img {
    width: 100%;
}
.rightbanner p {
   padding: 5px;
   margin-right: 5px;
}
.rightbanner p {
    animation: myfirst 2s infinite;
}
@keyframes myfirst {
    0% { 
        color: #FF6347;
    }
    50% { 
        color: #000;
    }
    100%{ 
        color: #FF6347;
    }
}
/* main  */
.commodity {
width: 1200px;
margin: 0 auto;
}
.side {
width: 20%;
height: 500px;
}
.side li {
margin-bottom: 20px;
}
.side li:nth-child(2) a {
	color:#FF6347 ;
}
.content {
width: 80%;
height: auto;

}
/* 分頁 */
div.pagination_block{
    display: inline-block;
  }
  div.pagination_block > ul.pagination{
    font-size: 0;
  }
  div.pagination_block > ul.pagination > li{
    display: inline-block;
  }
  div.pagination_block > ul.pagination > li > a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #dee2e6; /* 留意 */
    border-right: 0;           /* 將全部的右邊框移除 */
    text-align: center;
    padding: 5px 10px;
    font-size: 1rem;
    color: #6E6E6E;
  }
  
  /* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
  /* 留意: 將最後一個 li 裡的 a，加上圓角 */
  div.pagination_block > ul.pagination > li:last-child > a{
    border-right: 1px solid #dee2e6;
    border-radius: 0 5px 5px 0;
  }
  /* 留意: 將第一個 li 裡的 a，加上圓角 */
  div.pagination_block > ul.pagination > li:first-child > a{
    display: inline-block;
    border-radius: 5px 0 0 5px;
  }
  
  div.pagination_block > ul.pagination > li > a.-on{
    background-color: #e9ecef;
    color: #6E6E6E;
  }
  
  div.pagination_block > ul.pagination > li > a:hover{
    background-color: #e9ecef;
    color: #6E6E6E;
  }

/* 加入購物車 */
.add {
	border-radius: 8px;
	font-family: "黑體-繁";
	font-weight: bold;
	padding: 6px;
	width: 150px;
	/* margin: 0 auto; */
	border: 3px solid #000;
	color: #000;
	font-size: 20px;
}
.add:hover {
	border-radius: 8px;
	background-color: tomato;
	padding: 6px;
	color: white;
	cursor: pointer;
}





/* Utilities */
.d-flex{
	display: flex;
  }
  .justify-content-s {
	  justify-content: space-between;
  }
  .justify-content-a {
	  justify-content: space-around;
  }
  .justify-content-c {
	  justify-content: center;
  }
  .align-items-c {
	  align-items: center;
  }
  .mb-1 {
	  margin-bottom: 100px;
  }
  .mb-2 {
	  margin-bottom: 30px;
  }
  .mb-3 {
	  margin-bottom: 20px;
  }
  .mb-4 {
	  margin-bottom: 8px;
  }
  .ml-1 {
	  margin-left: 20px;
  }
  .mr-1 {
	  margin-right: 30px;
  }

  .pb-1 {
	  padding-bottom: 10px;
  }
  .pl-1 {
	  padding-left: 20px;
  }
  .pt-1 {
	  padding-top: 180px;
  }
  
  .ta {
	  text-align: center;
  }
  h1 {
	  padding-top: 300px;
	  color: white;
	  font-style: italic;
	}
  h3 {
	  font-size: 28px;
	  font-weight: bold;
	  padding: 10px;
  }
  .productPhoto {
    width: 95%;
  }
  /* hover效果 */
  .borderbottom {
	  position: relative;
  }
  .borderbottom:after {
	  content: '';
	  position: absolute;
	  bottom: -2px;
	  left: 0; 
	  width: 0%;
	  border-bottom: 2px solid transparent;
	  transition: 1s;
  }
  .borderbottom:hover:after {
	  width: 100%;
	  border-bottom: 2px solid #FF6347;
  }
  .iconBig :hover {
	  color: #FF6347;
  }
  .colorgray {
	  color: #6E6E6E;
  }
  .tomatoColor {	
	color: #FF6347;
}
